import { Options } from '@mikro-orm/core';
import { SqlHighlighter } from '@mikro-orm/sql-highlighter';
import { TsMorphMetadataProvider } from '@mikro-orm/reflection';

const config: Options = {
  type: 'mysql',
  host: 'localhost',
  port: 3307,
  user: 'root',
  password: '',
  dbName: 'nestjsrealworld',
  entities: ['dist/**/*.entity.js'],
  entitiesTs: ['src/**/*.entity.ts'],
  debug: true,
  loadStrategy: LoadStrategy.JOINED,
  highlighter: new SqlHighlighter(),
  metadataProvider: TsMorphMetadataProvider,
  migrations: {
    path: Utils.detectTsNode() ? 'src/migrations' : 'dist/migrations',
  },
};

export default config;
