name: tests

on:
  push:
    branches: [ master, renovate/** ]
  pull_request:

jobs:
  test:
    name: Tests
    if: ${{ !contains(github.event.head_commit.message, '[skip ci]') }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        node-version: [ 16, 18 ]
    steps:
      - name: Checkout Source code
        uses: actions/checkout@v3

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}

      - name: Cache node_modules
        uses: actions/cache@v3
        with:
          path: '**/node_modules'
          key: ${{ runner.os }}-${{ matrix.node-version }}-modules-${{ hashFiles('**/yarn.lock') }}

      - name: Init docker
        run: docker-compose up -d
      - name: Sleep for 10s
        uses: juliangruber/sleep-action@v1
        with:
          time: 10s
      - name: Install
        run: |
          yarn config set ignore-engines true
          yarn

      - name: Configure
        run: |
          cp src/config.ts.example src/config.ts
          cp src/mikro-orm.config.ts.example src/mikro-orm.config.ts
          npx mikro-orm migration:up

      - name: Test
        run: |
          yarn test

      - name: E2E tests
        run: |
          yarn start &
          sleep 30
          cd e2e
          APIURL=http://localhost:3000/api ./run-api-tests.sh
          exit 0

      - name: Teardown docker
        run: docker-compose down
