name: tests

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  test:
    name: Tests
    if: ${{ !contains(github.event.head_commit.message, '[skip ci]') }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        node-version: [ 12, 14, 15, 16.1 ]
    steps:
      - name: Checkout Source code
        uses: actions/checkout@v2

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}

      - name: Cache node_modules
        uses: actions/cache@v2
        with:
          path: '**/node_modules'
          key: ${{ runner.os }}-${{ matrix.node-version }}-modules-${{ hashFiles('**/yarn.lock') }}

      - name: Init docker
        run: docker-compose up -d

      - name: Install
        run: |
          yarn config set ignore-engines true
          yarn

      - name: Configure
        run: |
          cp src/config.ts.example src/config.ts
          cp src/mikro-orm.config.ts.example src/mikro-orm.config.ts
          npx mikro-orm schema:create -r

      - name: Test
        run: |
          yarn test

      - name: Teardown docker
        run: docker-compose down
